html, body {
  margin: 0;
  padding: 0;
  padding-left:0;
  padding-top:0;
  background-color: black;
}
canvas {
  display: block;
  border: 1px dashed black;
  padding: 0;
  margin: auto;
  margin-top: 50px
}
